.menu-wrapper {
    background: #052e5f;
    margin: 0px 0 20px;
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    padding: 0.5em;
    color: #d3e4ff;
    font-size: 1.4em;
    margin: 0px;
}

.menu:before {
    padding-right: 0.5em;
}

.menu:after {
    padding-left: 0.5em;
}

.menu > li {
    display: inline;

}

.menu > li:before {
    padding: 0.5em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.menu a {
    color: #5789FF;
}
