/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.margin-bottom-sm {
  padding-bottom: 10px;
}

.hotels .hotel {
  border-top: #dedede solid 1px;
}
.hotels .hotel:last-child {
  border-bottom: #dedede solid 1px;
}

.hotels .hotel .img-thumbnail {
  margin-top: 10px !important;
}

.hotels .hotel h3 {
  margin-top: 10px;
}

.hotels .hotel .ratings {
  margin-top: 10px;
}
.hotels .hotel.even {
  background: #fafafa;
}

.sorting span {
  margin-right: 10px;
}
.sorting .sortorder:after {
  color: cornflowerblue;
  content: '\25b2';
}

.sorting .sortorder.reverse:after {
  content: '\25bc';
}

.sorting span.sorter a {
  cursor: pointer;
}
.hotels sup.stars {
  color: gold;
  font-size: 1em;
  font-weight: bold;
  top: 0em;
}
@media screen and (max-width: 480px) {
  .hotels .hotel h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.5em;
  }

  .sorting span {
    margin-right: 20px;
  }

  .hotels .hotel .ratings .rating:first-child {
    display: block;
  }

}