.bill .statement {
    color: #888888;
}
.bill .statement .date-label {
    width: 60px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}
.bill .statement .date {
    color: #444444;
}
.bill .statement .currency {
    font-size: 1.1em;
    font-weight: bold;
    color: #444444;
}

.bill .details {
    padding: 15px 20px 10px 20px;
}

.bill .details .table tr.even {
    background: #fafafa;
}
.bill .details .table tr > th:last-child,
.bill .details .table tr > td:last-child {
    width: 200px;
}