.bill .statement {
    color: #888888;
    padding-bottom: 20px;
}

.bill .statement .date-label {
    width: 60px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.bill .statement .date {
    color: #444444;
}

.bill .statement .total-amount {
    padding-left: 15px;
    text-align: right;
    width: 130px;
    display: inline-block;
}
.bill .statement .currency {
    font-size: 1.1em;
    font-weight: bold;
    color: #444444;
}

.bill .details {
    padding: 0;
    margin: 0 10px;
}

.bill .details:first-child {
    margin-top: 10px;
}

.bill .details .table {
    padding: 0;
    margin: 0;
}

.bill .details .table tr.even {
    background: #fafafa;
}
.bill .details .table tr > th:last-child,
.bill .details .table tr > td:last-child {
    text-align: right;
    width: 160px;
    padding-right: 10px;
}

@media only screen and (max-width : 992px) {
    .bill .details .table tr > th:last-child,
    .bill .details .table tr > td:last-child {
        width: 120px;
    }
}