<div class="container-fluid bill" ng-controller="BillController as billCtrl">
	<div class="row" ng-show="!!billCtrl.errorMessage">
		<div class="col-xs-12" >
			<h3>{{::billCtrl.errorMessage}}</h3>
		</div>
	</div>

	<div class="row statement">
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
			<p>Current billing period</p>
			<p><span class="date-label">from:</span><span class="date">{{billCtrl.statement.generated}}</span></p>
			<p><span class="date-label">to:</span><span class="date">{{billCtrl.statement.due}}</span></p>
		</div>
		<div class="col-xs-6 col-sm-8 col-md-10 col-lg-10" >
			<p><span class="date-label">Date:</span><span class="date">{{billCtrl.statement.generated}}</span></p>
			<p><span class="date-label">Due:</span><span class="date">{{billCtrl.statement.due}}</span></p>
			<p>Amount: <span class="currency">{{billCtrl.total | currency:"":2}} GBP</span></p>
		</div>
	</div>

	<!-- tab menu -->
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-class="{active: billCtrl.selection === 'subscriptions'}">
					<a ng-click="billCtrl.selection='subscriptions'" role="tab">Subscriptions</a>
				</li>
				<li role="presentation" ng-class="{active: billCtrl.selection === 'calls'}">
					<a ng-click="billCtrl.selection='calls'" role="tab">Call charges</a>
				</li>
				<li role="presentation" ng-class="{active: billCtrl.selection === 'purchases'}">
					<a ng-click="billCtrl.selection='purchases'" role="tab" >Purchases</a>
				</li>
			</ul>
		</div>
	</div>


	<div class="row">
		<!-- subscriptions -->
		<div class="col-xs-12 col-md-6 details" ng-show="billCtrl.selection === 'subscriptions'">
			<table class="table">
				<thead>
					<tr>
						<th>Subscription</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tr ng-repeat="call in billCtrl.package.subscriptions"
					ng-class="{even: $even}">

					<td>{{::call.name}} ({{::call.type}})</td>
					<td>{{::call.cost | currency:"":2}} GBP</td>
				</tr>
			</table>
			<table class="table">
				<tfoot>
				<tr>
					<th>Total</th>
					<th>{{::billCtrl.package.total | currency:"":2}} GBP</th>
				</tr>
				</tfoot>
			</table>
		</div>

		<!-- calls -->
		<div class="col-xs-12 col-md-6 details" ng-show="billCtrl.selection === 'calls'">
			<table class="table">
				<thead>
				<tr>
					<th>Phone number</th>
					<th>Duration</th>
					<th>Cost</th>
				</tr>
				</thead>
				<tr ng-repeat="call in billCtrl.callCharges.calls"
				    ng-class="{even: $even}">

					<td>{{::call.called}}</td>
					<td>{{::call.duration}}</td>
					<td>{{::call.cost | currency:"":2}} GBP</td>
				</tr>
			</table>
			<table class="table">
				<tfoot>
				<tr>
					<th>Total</th>
					<th>{{::billCtrl.skyStore.total | currency:"":2}} GBP</th>
				</tr>
				</tfoot>
			</table>
		</div>

		<!-- purchases -->
		<div class="col-xs-12 col-md-6 details" ng-show="billCtrl.selection === 'purchases'">

			<table class="table">
				<thead>
				<tr>
					<th>Rentals</th>
					<th>Cost</th>
				</tr>
				</thead>
				<tr ng-repeat="call in billCtrl.skyStore.rentals"
				    ng-class="{even: $even}">

					<td class="item">{{::call.title}}</td>
					<td>{{::call.cost | currency:"":2}} GBP</td>
				</tr>
			</table>
			<table class="table">
				<thead>
				<tr>
					<th>Purchases</th>
					<th>Cost</th>
				</tr>
				</thead>
				<tr ng-repeat="call in billCtrl.skyStore.buyAndKeep"
				    ng-class="{even: $even}">

					<td class="item">{{::call.title}}</td>
					<td>{{::call.cost | currency:"":2}} GBP</td>
				</tr>
			</table>
			<table class="table">
				<tfoot>
					<tr>
						<th>Total</th>
						<th>{{::billCtrl.skyStore.total | currency:"":2}} GBP</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>


</div>