<div class="container-fluid hotels"
     ng-controller="HotelsController as hotelsCtrl">

	<div class="row margin-bottom-sm">
		<div class="col-xs-12">
			<h3>Hotels Directory</h3>
		</div>
	</div>

	<div class="row margin-bottom-sm">
		<div class="col-xs-4 col-sm-2 col-lg-1">
			<p>Results: {{hotelsCtrl.hotels.length}}</p>
		</div>
		<div class="col-xs-8 col-sm-10 col-lg-11 container-fluid">
			Filter: <input ng-model="hotelsCtrl.filter[hotelsCtrl.filterType]" type="text" />
			<select ng-change="hotelsCtrl.resetFilter()"
					name="filterField" ng-model="hotelsCtrl.filterType">
				<option ng-repeat="option in hotelsCtrl.filterTypes" value="{{option.type}}">{{option.name}}</option>
			</select>
		</div>
	</div>

	<div class="row margin-bottom-sm">
		<div class="col-xs-12 sorting">
			<span>Sort by: <!-- {{hotelsCtrl.predicate}} {{hotelsCtrl.reverse}} --></span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('Distance')">Distance</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'Distance'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('Stars')">Stars</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'Stars'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('MinCost')">Min Cost</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'MinCost'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('UserRating')">User Ratings</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'UserRating'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('UserRatingCount')">Total ratings</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'UserRatingCount'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
		</div>
	</div>

	<div class="row margin-bottom-sm hotel"
	     ng-repeat="hotel in hotelsCtrl.hotels | orderBy:hotelsCtrl.predicate:hotelsCtrl.reverse track by hotel.EstablishmentId"
	     ng-show="([hotel] | filter:hotelsCtrl.filter).length > 0"
	     ng-class="{even: $even, odd: $odd}">

		<div class="col-xs-3 col-sm-2 col-lg-1 text-right">
			<img src="{{::hotel.ThumbnailUrl}}" class="img-thumbnail" />
		</div>
		<div class="col-xs-9 col-sm-10 col-lg-11 container-fluid">
				<div><h3>{{::hotel.Name}} <sup>{{::hotel.Stars}}</sup></h3></div>
				<div>{{::hotel.EstablishmentType}} in {{::hotel.Location}}</div>
				<div class="ratings">
					<span class="rating">User&nbsp;Rating: <b>{{::hotel.UserRatingTitle}}</b></span>
					<span class="rating">Avg.&nbsp;Rating: <b>{{::hotel.UserRating}}</b></span>
					<span class="rating">Total&nbsp;Ratings <b>{{::hotel.UserRatingCount}}</b></span>
				<div>

			</div>
		</div>
	</div>
</div>