<div class="container-fluid hotels"
     ng-controller="HotelsController as hotelsCtrl">

	<div class="row margin-bottom-sm">
		<div class="col-xs-12">
			<h3>Hotels Directory <span class="loader" ng-show="hotelsCtrl.loading" ></span></h3>
		</div>
	</div>

	<div class="row margin-bottom-sm">
		<div class="col-xs-12">
			Filter:
			<span><input type="text"
			             ng-change="hotelsCtrl.updateFilter()"
			             ng-model="hotelsCtrl.filter[hotelsCtrl.filterType]"/>
			</span>
			<select name="filterField"
			        ng-change="hotelsCtrl.resetFilter()"
	                ng-model="hotelsCtrl.filterType">
				<option ng-repeat="option in hotelsCtrl.filterTypes" value="{{option.type}}">{{option.name}}</option>
			</select>
		</div>
	</div>
	<div class="row margin-bottom-sm">
		<div class="col-xs-12">
			Results: {{hotelsCtrl.hotels.length}}
			&nbsp;Show:
				<select name="result limit" ng-model="hotelsCtrl.resultLimit">
					<option ng-repeat="limit in hotelsCtrl.resultLimits" value="{{limit}}">{{limit}}</option>
				</select>
			</span>
		</div>
	</div>

	<div class="row margin-bottom-sm">
		<div class="col-xs-12 sorting">
			<span>Sort by: <!-- {{hotelsCtrl.predicate}} {{hotelsCtrl.reverse}} --></span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('Distance')">Distance</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'Distance'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('Stars')">Stars</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'Stars'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('MinCost')">Min Cost</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'MinCost'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('UserRating')">User Ratings</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'UserRating'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
			<span class="sorter">
				<a ng-click="hotelsCtrl.order('UserRatingCount')">Total ratings</a>
				<span class="sortorder" 
				      ng-show="hotelsCtrl.predicate === 'UserRatingCount'" 
				      ng-class="{reverse:hotelsCtrl.reverse}"></span>
			</span>
		</div>
	</div>
	<div class="row margin-bottom-sm hotel"
	     ng-repeat="hotel in hotelsCtrl.hotels
				     | orderBy:hotelsCtrl.predicate:hotelsCtrl.reverse
				     | limitTo:hotelsCtrl.resultLimit track by hotel.EstablishmentId"
	     ng-show="([hotel] | filter:hotelsCtrl.filter).length > 0"
	     ng-class="{even: $even, odd: $odd}">

		<div class="col-xs-3 col-sm-2 col-lg-1 text-right">
			<img src="{{::hotel.ThumbnailUrl}}" class="img-thumbnail" />
		</div>
		<div class="col-xs-9 col-sm-10 col-lg-11 container-fluid">
				<div><h3>{{::hotel.Name}} <sup class="stars">{{::hotel.StarsString}}</sup></h3></div>
				<div>
					{{::hotel.EstablishmentType}} in {{::hotel.Location}},
					distance: {{::hotel.Distance | number:1}}km
				</div>
				<div class="ratings">
					<span class="rating">User&nbsp;Rating: <b>{{::hotel.UserRatingTitle}}</b></span>
					<span class="rating">Avg.&nbsp;Rating: <b>{{::hotel.UserRating}}</b></span>
					<span class="rating">Total&nbsp;Ratings <b>{{::hotel.UserRatingCount}}</b></span>
				<div>

			</div>
		</div>
	</div>
</div>